<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <!-- <link rel="stylesheet" href="/style/index.css"> -->
    </head>
    
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            <div class="content">
                <div class=container>
                    <h4 class="lms-font-semibold mb-4">Recommended Courses</h4>
                    <zingo-hs title='Customer' href='#'>
                        <hs-course-item v-for="cdata in dataList" :key="cdata.courseId" :cdata='cdata'></hs-course-item>
                    </zingo-hs>
                    <zingo-hs title='Hardware' href='#'>
                        <hs-course-item v-for="cdata in dataList" :key="cdata.courseId" :cdata='cdata'></hs-course-item>
                    </zingo-hs>
                    <zingo-hs title='Software' href='#'>
                        <hs-course-item v-for="cdata in dataList" :key="cdata.courseId" :cdata='cdata'></hs-course-item>
                    </zingo-hs>
                    <zingo-hs title='Configuration' href='#'>
                        <hs-course-item v-for="cdata in dataList" :key="cdata.courseId" :cdata='cdata'></hs-course-item>
                    </zingo-hs>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lib/vue.js"></script>
        <script src="/js/lms/main/master.js"></script>
        <script>
            $(document).ready(function(){
                setupZingoHS();
            });
            const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    dataList: []
                },
                created: function(){
                    //DUMMY DATA
                    dummy_class = {
                        classId: 1,
                        classStartDateTime: new Date(),
                        classEndDateTime: new Date(),
                        selfEnrolStartDateTime: new Date(),
                        selfEnrolStartDateTime: new Date(),
                        maxCapacity: 100,
                        noOfLessons: 10,
                        displayPicture: "https://i.scdn.co/image/ab6761610000e5ebb10fd90c8d4446fa75af0de7",
                        title: "Customer Relations",
                        completed: true
                    }
                    this.dataList = [dummy_class, dummy_class, dummy_class, dummy_class, dummy_class, dummy_class, dummy_class];
                }
            });
        </script>
    </body>
</html>