<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <style>
    
          /* #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); } */
          #form {position:fixed;bottom: 0; background-color: red; width: 100%;}
          #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; width:50%}
          #input:focus { outline: none; }
          #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
          #messages { list-style-type: none; margin: 0; padding: 0;}
          #messages > li { padding: 0.5rem 1rem; }
          .user {padding: 10px; background-color: lightgreen; margin: 10px}
          #sender{padding: 3px; background-color: lightblue; margin: 3px}
          .selected{background-color: lightblue}
          /* #messages > li:nth-child(odd) { background: #efefef; } */

        </style>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            
            <div class='content'>
              <div class="container-fluid">
                        <button type="button" class="btn btn-primary" v-on:click="connect($event)" value='robin_0q8l8'>Connect as Robin</button>
                        <button type="button" class="btn btn-primary" v-on:click="connect($event)" value='john_daoi0'>Connect as John</button>
                        <button type="button" class="btn btn-primary" v-on:click="connect($event)" value='asher_dsa98'>Connect as Asher</button>
                        <button type="button" class="btn btn-primary" v-on:click="connect($event)" value='varun_dsaw2'>Connect as Varun</button>
                        <button type="button" class="btn btn-primary" v-on:click="connect($event)" value='soonhao_gee43'>Connect as SoonHao</button>
                <div class="row">
                  <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:white;">
                    <div>
                      <input v-model="search_term" placeholder="Search for user" v-on:input="partialSearch">
                    </div>
                    <div v-if='search_term == ""' v-for="(message_set, username, index)  in all_messages.messages" :key="index">
                    <user v-bind:selected="selected == message_set.accountId" v-bind:account_id= "message_set.accountId" v-bind:username="username" v-bind:message_set="message_set" @update-select='updateSelect'></user>
                    </div>

                    <div v-if='search_term' v-for="(username, index) in searched_users" :key="username">
                      <searched-user v-bind:username="username" @name-select='nameSelect'></searched-user>
                    </div>

                  </div>
                  <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:white;">
                    
                    <ul id="messages">
                      <li v-if="selected" v-for="(messageObj, index) in current_messages" :key="index">
                        {{ messageObj.text }} <span id='sender'>{{ messageObj.sender }}</span>
                      </li>
                    </ul>
                    
                    <form id='form'>
                      <input id="input" autocomplete="off" v-model="newMessage"/>
                      <button v-on:click="sendMessage">Send</button>
                  </form>

                  </div>
                </div>
              </div>
            </div>
            
        </div>  

            
        
    
        

        <script src="/js/lib/vue.js"></script>
   

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lms/main/master.js"></script>
        <script src="/js/lms/main/manage.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    
        <script>
           Vue.component('user',
            {data: function () {
            return {
              
            }},created:()=>{
              
            }, 
            props: {username:String, message_set: Object, account_id: Number, selected: Boolean, app_selected: Number},
            template: `<div v-bind:class="{ selected: selected }" class='user' @click="select(message_set.accountId) ">{{username}}</div>`,
            methods:{
              select(accountId) {
                console.log(this.account_id)
                console.log(this.selected)
                this.$emit('update-select', accountId)
              }
            }
            })

            Vue.component('searched-user',
            {data: function () {
            return {
              
            }},created:()=>{
              
            }, 
            props: {username:String},
            template: `<div class='user' @click="select() ">{{username}}</div>`,
            methods:{
              select() {
                console.log(this.username)
                this.$emit('name-select', this.username)
              }
            }
            })


               var socket = io({autoConnect: false});

                const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    menu: initMenu(MENU_SECTIONS_MANAGE_GENERAL, 0, 0),
                    current_messages : [],
                    newMessage: '',
                    accountId: '',
                    all_messages : [],
                    selected: '',
                    search_term: '',
                    searched_users: [],
                    all_users : [],
                }, created: () => {
                  
                  socket.on('chat message', function(msg) {

                    console.log(msg)
                    
                    for(const name in app.all_messages['messages']){
                      
                      if(app.all_messages['messages'][name].accountId == msg.receiverAccountId || app.all_messages['messages'][name].accountId == msg.senderAccountId){
                        console.log('match found')
                        console.log(app.all_messages['messages'][name].messages)
                        app.all_messages['messages'][name].messages.push({messageId: msg.messageId, text:msg.text,senderAccountId: msg.senderAccountId, receiverAccountId: msg.receiverAccountId, sender: msg.sender_username, receiver: msg.sender_username})
                        
                      }
                    }

                  // app.current_messages.push({text:msg.msg,senderAccountId: msg.sender, receiverAccountId: msg.receiver})
                  });

                }, methods:{
                  sendMessage: function(event){
                    event.preventDefault()
                    if (app.newMessage && app.accountId && app.selected) {
                    socket.emit('chat message', {msg: app.newMessage, receiverAccountId: app.selected, senderAccountId: app.accountId});
                    app.newMessage = '';
                }
                  }, 
                  connect: function(event){
                  // console.log(app.session.username)
                  // var username = app.session.username
                  
                  const username_sessionId = event.target.value.split("_")
                  console.log(username_sessionId)
                  var sessionObj = {session:{username: username_sessionId[0], sessionId: username_sessionId[1]}}
                  console.log(sessionObj)
                  axios
                  .post(API(`/message/all/session`), sessionObj)
                  .then(response=>{
                    console.log(response.data)
                    app.all_messages = response.data
                    app.all_users = response.data.users
                    var accountId = String(response.data.accountId)
                    app.accountId = accountId
                    socket.auth = {accountId}
                    socket.connect()
                  })
                  // app.accountId = event.target.value
                  // var accountId = app.accountId
                  // axios
                  // .get(API(`/message/all/${accountId}`))
                  // .then(response => (
                  //     console.log(response.data),
                  //     app.all_messages = response.data,
                  //     app.all_users = Object.keys(app.all_messages['messages'])
                  //     ))
                  // socket.auth = {accountId};
                  // socket.connect();

                },
                updateSelect:function(e){
                  // console.log('hi')
                  // console.log(e)
                  app.selected = e
                  for(const name in app.all_messages['messages']){
                      if(app.all_messages['messages'][name].accountId == app.selected){
                        console.log(app.all_messages['messages'][name].messages)
                        app.current_messages = app.all_messages['messages'][name].messages;
                      }
                    }
                },partialSearch:function(){

                  app.searched_users = []

                    for(var i = 0; i < app.all_users.length; i++){
                        if(app.all_users[i].toLowerCase().includes(app.search_term.toLowerCase())){
                          app.searched_users.push(app.all_users[i])
                        }
                    }
                },nameSelect:function(e){
                  // console.log('hi')
                  // console.log(e)
                  app.searched_users = []
                  app.search_term = ''
                  
                  for(const name in app.all_messages['messages']){
                      if(name == e){
                        console.log(app.all_messages['messages'][name].messages)
                        app.current_messages = app.all_messages['messages'][name].messages;
                        app.selected = app.all_messages['messages'][name].accountId
                      }
                    }
                }
                }
                        });
            
        </script>
    </body>
</html>

