<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            <div class="content">
                <div class=container>
                    <m-div :menu="menu" title="Course Settings" :subtitle="'For Course ID: '+courseId">
                        <h1>{{title}}</h1>
                        <p>Description: {{description}}</p>
                        <p>Active: {{active}}</p>
                        <div v-if="prerequisiteSets.length>1">
                            <h3>Prerequisites for this course</h3>
                            <p>You have to complete either of the below sets of courses</p>
            
                            <div v-for="set in prerequisiteSets">
                                <h4>Set {{set.setNumber}}</h4>
                                <div v-for="PrerequisiteSet in set.PrerequisiteSets">
                                    <p>Course {{ PrerequisiteSet.courseId }}</p>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <h3>Prerequisites for this course</h3>
                            <p v-for="prereq in prerequisiteSets[0].PrerequisiteSets">Course {{prereq.courseId}}</p>
                        </div>
                    </m-div>
                    
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lib/vue.js"></script>
        <script src="/js/lms/main/master.js"></script>
        <script src="/js/lms/main/manage.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    courseId: getParams("courseId"),
                    menu: initMenu(generateMenuSections_Course(getParams("courseId")), 0, 0),
                    title: null,
                    description: null,
                    active: null,
                    prerequisiteSets: [],
                    "categories": [

                    {

                        "title": "Pants",

                        "products": [

                            {

                                "name": "Levi Strauss",
                                "price": "$49.99",

                            }

                        ]

                    },

                    {

                        "title": "Sneakers",

                        "products": [

                            {

                                "name": "Adidas",
                                "price": "$149.99",

                            }

                        ]

                    }]}
                    , created: () => {
                    this.courseId
                }, mounted () {
    axios
      .get(API(`/course/find/${this.courseId}`))
      .then(response => (
          console.log(response.data),
          this.title = response.data.course.title,
          this.description = response.data.course.description,
          this.active = response.data.course.active,
          this.prerequisiteSets = response.data.course.CoursePrerequisites
          ))
  }
            });
        </script>
    </body>
</html>