<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            <div class="content">
                <div class=container>
                    <m-div :menu="menu" title="Manage Course" subtitle="Overview">
                        <h1>SHOW LIST OF COURSES</h1>
                        <!-- <a href="/manage/course?courseId=1">Specific course</a> -->
                        <div class='courses'>
                    
                            <div v-for="course in courses" :key="course.courseId" class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">{{course.title}}</h5>
                                  <p class="card-text">{{course.description}}</p>
                                  <a :href="'/manage/course?courseId=' + course.courseId" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            
                        </div>

                    </m-div>
                </div>
            </div>


        </div>


        <script src="/js/lib/vue.js"></script>
   

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lms/main/master.js"></script>
        <script src="/js/lms/main/manage.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    menu: initMenu(MENU_SECTIONS_MANAGE_GENERAL, 0, 0),
                    courses : null
                }, created: () => {
                    axios.get('/api/course').then(response => (
                        console.log(response.data),
                        app.courses = response.data
                        ))}
                        }
                            );
        </script>
    </body>
</html>