<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            <div class="content">
                <div class=container>
                    <!-- <m-div :menu="menu" title="Course Settings" :subtitle="'For Course ID: '+courseId">
                        <h1>{{title}}</h1>
                        <p>{{description}}</p>
                    </m-div> -->
                    <m-div title="Create a course" :menu="menu">
                        <div class="columns" id="app" v-if="!submitSuccess">
                            <div class="column is-two-thirds">
                              <section class="section">
                                <h1 class="title">Create Course Page</h1>
                                <p class="subtitle">
                                  Fill in form below to create the course
                                </p>
                                <hr>      
                                
                                <!-- form starts here -->
                    
                                  <div class="field">
                                    <label class="label">Title</label>
                                    <div class="control">
                                      <input v-model="form.title" class="input" type="text" placeholder="Text input">
                                    </div>
                                  </div>
                                  <div class="field">
                                    <label class="label">Description</label>
                                    <div class="control">
                                      <input v-model="form.description" class="input" type="text" placeholder="Text input">
                                    </div>
                                  </div>
                                
                                  <div class="field">
                                    <label class="label">Is course active?</label>
                                    <div class="control">
                                      <label class="label">Yes</label>
                                      <input type="radio" v-model="form.active" v-bind:value="true">
                                      <label class="label">No</label>
                                      <input type="radio" v-model="form.active" v-bind:value="false">
                                    </div>
                                  </div>

                              </section>
                            </div>
                            <br>
                            <button v-on:click="onSubmit" class="btn btn-primary">Submit Class Creation</button>
                            <!-- <div class="column">
                              <section class="section" id="results">
                                <div class="box">
                                  <ul>           -->
                                    <!-- loop through all the `form` properties and show their values -->
                                    <!-- <li v-for="(item, k) in form">
                                      <strong>{{ k }}:</strong> {{ item }}
                                    </li>
                                  </ul>
                                </div>
                              </section>
                            </div> -->
                            
                        </div>
                        <div class='content' v-if='submitSuccess'>
                            <h1>
                                Class Creation Successful
                            </h1>
                            <a href='/manage/courses' class="link-primary">Link to all classes</a>
                            <br>
                            <a :href="'/manage/course?courseId=' + this.id">Link to created class with title: {{form.title}} and description: {{form.description}}</a>
                        </div>
                    </m-div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lib/vue.js"></script>
        <script src="/js/lms/main/master.js"></script>
        <script src="/js/lms/main/manage.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    courseId: getParams("courseId"),
                    menu: initMenu(generateMenuSections_Course(getParams("courseId")), 0, 0),
                    form : {
                        title: '',
                        description: '',
                        id: '',
                        active: null
                    },
                    submitSuccess: null
                },methods: {
                    onSubmit() {
                        console.log(app.form.title, app.form.description)
                        var courseObj = {title: app.form.title, description: app.form.description, active: app.form.active}
                        axios.post(API('/course'), courseObj)
                        .then((response) => {
                        console.log(response);
                        if(response.status == 200){
                            this.submitSuccess = true
                            this.id = response.data.courseId
                        }
                        }, (error) => {
                        console.log(error);
                        });
                    }},
                    created: () => {

                }, mounted () {
    
                }
            });
        </script>
    </body>
</html>