<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>LMS</title>
        <link rel="stylesheet" href="/style/master.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <lms-head :session="session"></lms-head>
            <div class="content">
                <div class=container>
                    <!-- <m-div :menu="menu" title="Course Settings" :subtitle="'For Course ID: '+courseId">
                        <h1>{{title}}</h1>
                        <p>{{description}}</p>
                    </m-div> -->
                    <m-div title="Create a course" :menu="menu">
                        <div class="columns" id="app" v-if="!submitSuccess">
                            <div class="column is-two-thirds">
                              <section class="section">
                                <h1 class="title">Create Course Page</h1>
                                <p class="subtitle">
                                  Fill in form below to create the course
                                </p>
                                <hr>      
                                
                                <!-- form starts here -->
                    
                              
                                    <label class="label">Title</label>
                                      <input v-model="form.title" class="input" type="text" placeholder="Text input">
            
                                    <label class="label">Description</label>
                                      <input v-model="form.description" class="input" type="text" placeholder="Text input">
                                
                                    <br>
                                    <label class="label">Is course active?</label>
                                    <br>
                                      <label class="label">Yes</label>
                                      <input type="radio" v-model="form.active" v-bind:value="true">
                                      <label class="label">No</label>
                                      <input type="radio" v-model="form.active" v-bind:value="false">

                                      <br>
                                      <label class="label">How many course prerequisite sets are there?</label>
                                      <br>

                                      <div>
                                        <input v-model="sets" class="input" type="number" placeholder="Number of sets">
                                      </div>

                                      <div v-if="sets">
                                      <div v-for="index in parseInt(sets)" :key="index">
                                        <coursesets v-bind:course-ids="courseIds" my-message="How many courses are in this set?" :set-number="index"></coursesets>
                                      </div>
                                      </div>
                                    
                              </section>
                            </div>
                            <br>
                            <button v-on:click="onSubmit" class="btn btn-primary">Submit Class Creation</button>
                           
                                    
                            
                        </div>
                        <div class='content' v-if='submitSuccess'>
                            <h1>
                                Class Creation Successful
                            </h1>
                            <a href='/manage/courses' class="link-primary">Link to all classes</a>
                            <br>
                            <a :href="'/manage/course?courseId=' + this.newId">Link to created class with title: {{form.title}} and description: {{form.description}}</a>
                        </div>
                    </m-div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <script src="/js/lib/vue.js"></script>
        <script src="/js/lms/main/master.js"></script>
        <script src="/js/lms/main/manage.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    session: getUserSession(),
                    courseId: getParams("courseId"),
                    menu: initMenu(generateMenuSections_Course(getParams("courseId")), 0, 0),
                    form : {
                        title: '',
                        description: '',
                        id: '',
                        active: null,
                    },
                    submitSuccess: null,
                    newId: '',
                    sets: 0,
                    courseIds: []
                },methods: {
                    onSubmit() {
                        // console.log(app.form.title, app.form.description)
                        // console.log(document.getElementsByClassName('length'))
                        var lengths_html = document.getElementsByClassName('length')
                        var lengths = []
                        for(var i=0; i<lengths_html.length; i++){
                          // console.log(lengths_html[i].value)
                          var length_value = lengths_html[i].value
                          lengths.push(length_value)
                        }
                        console.log(lengths)

                        var select_html = document.getElementsByClassName('select_class')
                        var preReqIds = []
                        for(var i=0; i<select_html.length; i++){
                          // console.log(lengths_html[i].value)
                          var preReqId = select_html[i].options[select_html[i].selectedIndex].value
                          preReqIds.push(preReqId)
                        }
                        console.log(preReqIds)

                        var preReqSets = []
                        var temp = preReqIds
                        for(var i=0; i<lengths.length; i++){
                          var set = temp.splice(0,lengths[i])
                          preReqSets.push(set)
                        }

                        // console.log(preReqSets)

                        var courseObj = {title: app.form.title, description: app.form.description, active: app.form.active, prerequisite: preReqSets}
                        
                        axios.post(API('/course'), courseObj)
                        .then((response) => {
                        console.log(response);
                        if(response.status == 200){
                            this.submitSuccess = true
                            this.newId = response.data.course_data.courseId
                        }
                        }, (error) => {
                        console.log(error);
                        });
                    }},
                    created: () => {
                      axios.get(API('/course/allidtitle')).then(response => (
                        console.log(response.data),
                        app.courseIds = response.data
                        ))
                }, mounted () {
    
                }
            });

            Vue.component('coursesets',
            {data: function () {
            return {
              coursesPerSet: 0,
              courses: []
            }},created:()=>{
              
            }, 
            props: {myMessage:String, courseIds: Array, setNumber:Number},
            template: `<div class='blockOfSets'><h3>Set {{setNumber}}</h3><span>{{ myMessage }}</span><br><input v-model="coursesPerSet" class="length" type="number" placeholder="Number of sets">
            <div v-if="coursesPerSet">
            <div v-for="index in parseInt(coursesPerSet)" :key="index">
            <span>indicate which course by id</span><br>
            <select class='select_class' required>
            <option :value="null">Please select one</option>
            <option v-for="IdTitle in courseIds" v-bind:value="IdTitle.courseId">{{IdTitle.courseId}}, {{IdTitle.title}}</option>
            </select>
            </div>
            </div>
            </div>
            `
            })

        </script>
    </body>
</html>